body{
    background-color: floralwhite;
}
p{
    background-color: cyan;
}
div{
    background-color: blue;
}
.hhh{
    background-color: red ;color: yellow;
}
.mmm{
    background-color: black;color: beige;
}
.kkk{
    background-color: chartreuse;color: yellow;
}
h2{
    background-color: cornflowerblue;color: rebeccapurple;
}
.ddd{
    background-color: slategray;color: saddlebrown;
}